#search-box {
	width: 300px;
	padding: 4px 4px;
	float: right;
	margin-bottom: 20px;
}

#search-box input[type="text"] {
	background: url(../images/js/search/search.png) no-repeat 10px 6px  #FFF;
    border: none;
    font: 12px Arial,Helvetica,Sans-serif;
    color: #000;
    width: 255px;
	height: 30px;
    padding: 6px 15px 6px 35px;
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
	float:left;
}

.search-button {
	width:40px;
	height:30px;
	color:#FFF;
	background:url(../images/background/bg_mainmenu.png) 0 -42px repeat-x;
	cursor:pointer;
	float: right;
	border:1px #630 solid;
}

.search-button:hover {
	background:url(../images/background/bg_mainmenu.png) 0 -2px repeat-x;
}

.search-button:active {
	background:url(../images/background/bg_mainmenu.png) 0 -2px repeat-x;
}